{% extends "layout.twig" %}

{% block contenido %}
     <H2>Admin Panel</H2> 
                    <ul>
                    <li><a href="{{ 'admin/post' | url }}">Manage post</a></li>
                    <li><a href="{{ 'admin/users' | url }}">Manage User</a></li>
                    </ul>    
{% endblock %}