{% extends "layout.twig" %}

{% block contenido %}
    {% for itemBlog in blog_posts %}
                        <div class="blog-spot">
                            <h2>{{itemBlog.TITULO}}</h2>
                            <p>01 ENERO 2017 <a href=>Carlos</a></p>
                            <div class="blog-post-img">
                                <image src="./img/images.jpeg" alt=""></image>
                            </div>
                            <div class="blog-post-content">
                            {{itemBlog.CONTENIDO}}
                            </div>
                        </div>
                    {% endfor %}                    
{% endblock %}